@use 'vars';

.mobile-menu {
    padding: 24px;
    position: absolute;
    top: 60px;
    left: 0;
    width: calc(100vw - 48px);
    background-color: vars.$white;
}

.mobile-menu a {
    text-decoration: none;
    color: vars.$black;
    font-weight: bold;
    /* margin-bottom: 24px; */
}

.mobile-menu ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
}

.mobile-menu ul:nth-child(1) {
    border-bottom: 1px solid vars.$very-light-pink;
}

.mobile-menu ul li {
    margin-bottom: 24px;
}

.email {
    font-size: vars.$sm;
    font-weight: 300 !important;
}

.sign-out {
    font-size: vars.$sm;
    color: vars.$hospital-green !important;
}